.container{
    padding: 5rem 0 5rem;
    height: 100%;
}
.content-wraapper{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}
.card-wrapper{
    width: 100%; 
    max-width: 25rem;
}
.card{
    color: #fff; 
    border-radius: 35px;
}