
body {
  /*background-image: url('https://img.freepik.com/free-photo/dramatic-sky-vibrant-sunset-nature-beauty-paints-horizon-generated-by-artificial-intelligence_188544-239973.jpg?t=st=1712668407~exp=1712672007~hmac=05206d3416597c09e6de9a28810518d0319d34e503bea20923158c6e13644816&w=900');
  background-size: cover; /* Adjust the size of the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  min-height: 100vh;
  margin: 0;
  background-color: #4B515D;
}

/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/

